/* eSolia CUSTOM  */
:root {
  --logo: url(/assets/logo/logo_horiz_darkblue_bgtransparent_web.png) no-repeat;
}
[data-theme="dark"] {
  color-scheme: dark;
  --logo: url(/assets/logo/logo_horiz_white_bgtransparent_web.png) no-repeat;
}

main img  {
  border: 1px solid var(--code-background-selection);
  border-radius: var(--border-radius);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--cyan-7-hsl);
  color: white;
}

.zoom {
  /* DIMENSIONS */
  /* width: 100%; */
  /* height: auto; */
 
  /* ANIMATE ZOOM */
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
} 
 
/* ZOOM ON HOVER */
.zoom:active { transform: scale(1.5); } 

