/* Override Font and set colors */
:root {
  --font-family-ui: "IBM Plex Sans JP", Inter, -apple-system, system-ui, sans-serif;
  --font-family-display: "IBM Plex Sans JP", Inter, -apple-system, system-ui, sans-serif;
  --code-token-1: hsl(330, 90%, 30%);

  --esolia-yellow-0-hsl: hsl(52.5, 100%, 92.16%);


  --color-tip: var(--esolia-yellow-0-hsl);
  --color-tip-foreground: var(--cyan-11-hsl);
  --color-tip-1: var(--yellow-4-hsl);
  --background-blend-mode: difference;
  
  --color-warning: var(--red-1-hsl);
  --color-warning-foreground: var(--red-11-hsl);
  --color-warning-1: var(--red-5-hsl);
  
  /* Brand colors */
  --color-primary: var(--cyan-10-hsl);
  --color-primary-highlight: var(--cyan-3-hsl);
  --color-highlight: var(--esolia-yellow-0-hsl);

}