:root {
  /* Fonts */
  --font-display: 'IBM Plex Sans JP', 'Epilogue-fallback', var(--font-ui);
  --font-ui: 'IBM Plex Sans JP', 'Inter-fallback', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
  --font-code: 'JetBrains Mono', 'JetBrains-fallback', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;

  /* Text styles */
  --text-display-size: var(--font-size-fluid-3);
  --text-display-height: var(--font-lineheight-00);
  --text-display: 900 var(--text-display-size)/var(--text-display-height) var(--font-display);
  --text-display-spacing: var(--font-letterspacing-0);
  --text-heading-size: var(--font-size-fluid-2);
  --text-heading: 100 var(--text-heading-size)/1.1 var(--font-display);
  --text-heading-spacing: var(--font-letterspacing-0);
  --text-title-size: var(--font-size-fluid-1);
  --text-title: 800 var(--text-title-size)/1.2 var(--font-display);
  --text-title-spacing: var(--font-letterspacing-0);
  --text-body-size: var(--font-size-fluid-0);
  --text-body: var(--text-body-size)/1.65 var(--font-ui);
  --text-body-bold: 800 var(--text-body-size)/1.6 var(--font-ui);
  --text-body-spacing: var(--font-letterspacing-1);
  --text-caption: 400 15px/1.6 var(--font-ui);
  --text-caption-bold: 600 15px/1.6 var(--font-ui);
  --text-caption-mini: 400 13px/1.6 var(--font-ui);
  --text-caption-mini-bold: 600 13px/1.6 var(--font-ui);
  --text-leader: 100 15px/1.6 var(--font-ui);
  --text-leader-bold: 200 15px/1.6 var(--font-ui);
  --text-code: 16px/1.6 var(--font-code);

  /* Colors */
  /* Tokens ALL REMOVED */



  /* Borders */
  --border-radius-small: var(--radius-conditional-2);
  --border-radius: var(--radius-conditional-4);
  /* Animation */
  --animation-duration: 0.2s;

  /* Spaces */
  --margin: max(25px, 5vw);
  --max-width: 1200px;
  --column-gap-0: 10px;
  --column-gap-1: 25px;
  --column-gap-2: 50px;
  --column-gap-3: 100px;
  --row-gap-0: 25px;
  --row-gap-1: clamp(20px, 5vh, 50px);
  --row-gap-2: clamp(40px, 10vh, 100px);
  --row-gap-3: clamp(60px, 15vh, 150px);
  --row-gap-4: clamp(80px, 20vh, 200px);
}

:root.no-motion {
  --animation-duration: 0s;
}

@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0s;
  }
}

.backdrop {
  background-color: hsl(var(--gray-9-hsl) / 30%);
}

/* Theme light mode */
:root[data-theme='light'] {
  color-scheme: light;
  --color-primary: hsl(var(--orange-6-hsl));
  --color-primary-1: hsl(var(--orange-9-hsl));
  --color-foreground: hsl(var(--stone-10-hsl));
  --color-foreground-1: hsl(var(--stone-5-hsl));
  --color-background: hsl(var(--stone-0-hsl));
  --color-background-a: hsl(var(--stone-3-hsl) / 30%);
  --color-background-1: hsl(var(--stone-2-hsl));
  --color-background-2: hsl(var(--stone-2-hsl));
  --color-background-3: hsl(var(--stone-3-hsl));
  --color-light-title: hsl(var(--stone-2-hsl));
}

/* Theme dark mode */
:root[data-theme='dark'] {
  color-scheme: dark;
  --color-primary: hsl(var(--orange-5-hsl));
  --color-primary-1: hsl(var(--orange-3-hsl));
  --color-foreground: hsl(var(--stone-2-hsl));
  --color-foreground-1: hsl(var(--stone-7-hsl));
  --color-background: hsl(var(--stone-9-hsl));
  --color-background-a: hsl(var(--stone-11-hsl) / 30%);
  --color-background-1: hsl(var(--stone-10-hsl));
  --color-background-2: hsl(var(--stone-9-hsl));
  --color-background-3: hsl(var(--stone-4-hsl));
  --color-light-title: hsl(var(--stone-2-hsl));


}
