:root {
  /* Fonts */
  --font-display: 'MPlus2', 'Epilogue-fallback', var(--font-ui);
  --font-ui: 'MPlus2', 'Inter-fallback', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
  --font-code: 'JetBrains Mono', 'JetBrains-fallback', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;

  /* Text styles */
  --text-display-size: clamp(30px, 10vw, 75px);
  --text-display-height: 0.95;
  --text-display: 900 var(--text-display-size)/var(--text-display-height) var(--font-display);
  --text-display-spacing: -0.045em;
  --text-heading-size: clamp(18px, 8vw, 50px);
  --text-heading: 900 var(--text-heading-size)/1.1 var(--font-display);
  --text-heading-spacing: -0.03em;
  --text-title-size: clamp(17px, 6vw, 25px);
  --text-title: 800 var(--text-title-size)/1.2 var(--font-display);
  --text-title-spacing: -0.03em;
  --text-body-size: clamp(16px, 4vw, 20px);
  --text-body: var(--text-body-size)/1.65 var(--font-ui);
  --text-body-bold: 800 var(--text-body-size)/1.6 var(--font-ui);
  --text-body-spacing: -0.02em;
  --text-caption: 15px/1.6 var(--font-ui);
  --text-caption-bold: 800 15px/1.6 var(--font-ui);
  --text-caption-mini: 13px/1.6 var(--font-ui);
  --text-caption-mini-bold: 800 13px/1.6 var(--font-ui);
  --text-code: 16px/1.6 var(--font-code);

  /* Colors */
  /* Tokens */

  --stone-2-hsla: hsla(210, 11%, 93%, 0.5);
  --stone-12-hsla: hsla(60, 6%, 7%, 0.5);



  /* Borders */
  --border-radius-small: 5px;
  --border-radius: 10px;

  /* Animation */
  --animation-duration: 0.2s;

  /* Spaces */
  --margin: max(25px, 5vw);
  --max-width: 1200px;
  --column-gap-0: 10px;
  --column-gap-1: 25px;
  --column-gap-2: 50px;
  --column-gap-3: 100px;
  --row-gap-0: 25px;
  --row-gap-1: clamp(20px, 5vh, 50px);
  --row-gap-2: clamp(40px, 10vh, 100px);
  --row-gap-3: clamp(60px, 15vh, 150px);
  --row-gap-4: clamp(80px, 20vh, 200px);
}

:root.no-motion {
  --animation-duration: 0s;
}

@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0s;
  }
}

/* Theme light mode */
:root[data-theme='light'] {
  color-scheme: light;
  --color-primary: var(--orange-6-hsl);
  --color-primary-1: var(--orange-9-hsl);
  --color-foreground: var(--stone-10-hsl);
  --color-foreground-1: var(--stone-7-hsl);
  --color-background: var(--stone-0-hsl);
  --color-background-a: var(--stone-2-hsla);
  --color-background-1: var(--stone-1-hsl);
  --color-background-2: var(--stone-2-hsl);
  --color-background-3: var(--stone-3-hsl);
  --color-light-title: var(--stone-2-hsl);
}

/* Theme dark mode */
:root[data-theme='dark'] {
  color-scheme: dark;
  --color-primary: var(--orange-5-hsl);
  --color-primary-1: var(--orange-3-hsl);
  --color-foreground: var(--stone-2-hsl);
  --color-foreground-1: var(--stone-5-hsl);
  --color-background: var(--stone-9-hsl);
  --color-background-a: var(--stone-12-hsla);
  --color-background-1: var(--stone-10-hsl);
  --color-background-2: var(--stone-9-hsl);
  --color-background-3: var(--stone-4-hsl);
  --color-light-title: var(--stone-2-hsl);

  /* Overwrite @docsearch modal dark colors */
  --docsearch-modal-background: var(--color-background);
  --docsearch-key-gradient: background-image: linear-gradient(-26.5deg, var(--color-background), var(--color-background-1));
  --docsearch-footer-background: var(--color-background-1);
  --docsearch-muted-color: hsl(218deg, 14%, 64%);
}
