<nav>
  <ul class="breadcrumb">
    {{ for item of nav.breadcrumb(url, "lang="+lang) }}
    {{ if item.data.url != url }}
    <li class="breadcrumb-item"><a href="{{ item.data.url }}">{{ item.data.title }}</a></li>
    {{ else if !item.data }}
    <li class="breadcrumb-item"><strong>{{ item.data.basename }}</strong></li>
    {{ /if }}
    {{ /for }}
  </ul>
</nav>
