<nav class="doc-navbar1">
  {% for section in i18n[lang].side_menu %}
  <details class="doc-navbar-section1" {% if url.includes(section.id) %}open{% endif %}>
    <summary>
      <span class="doc-navbar-section-title1">{{ section.title }}</span>
    </summary>
    <ul class="doc-navbar-section-links">
      {% for page in search.pages("lang="+[lang], "order title") %}
        {% if page.data.url.includes(section.id) %}
          <li>
            {% if page.data.url == url %}
            <a href="{{ page.data.url }}" aria-current="page" title="{{ page.data.description }}">{{ page.data.title }}</a>
            {% else %}
            <a href="{{ page.data.url }}" title="{{ page.data.description }}">{{ page.data.title }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </details>
  {% endfor %}
</nav>

