{{ if item.data.url }}
  <a {{ if item.data.url == url }}aria-current="page"{{ /if }} href="{{ item.data.url }}">
    {{ if item.children }}📁{{ /if }}
    {{ item.data.title || item.data.basename }}
  </a>
{{ else }}
  <span>📁 {{ item.data.basename }}</span>
{{ /if }}

{{ if item.children }}
<ul>
  {{ for child of item.children.sort((a, b) => a.data?.order - b.data?.order) }}
  <li>
    {{ include "templates/menu_item.vto" { item: child } }}
  </li>
  {{ /for }}
</ul>
{{ /if }}
