<!DOCTYPE html>
<html lang="{{ lang }}" data-theme="light">
	<script type="text/javascript">
		const root = document.firstElementChild;
		const mediaQuery = "(prefers-color-scheme: dark)";
		const mediaMatch = window.matchMedia;
		const currentMode = mediaMatch(mediaQuery).matches;

		const storeTheme = (targetTheme) => {
		  if ("boolean" === typeof targetTheme) {
			targetTheme = targetTheme ? "dark" : "light";
		  }
		  root.setAttribute("data-theme", targetTheme);
		  localStorage.setItem("data-theme", targetTheme);
		};

		const storedTheme = ("data-theme" in localStorage)
		  ? localStorage.getItem("data-theme")
		  : currentMode;

		storedTheme && storeTheme(storedTheme);
	</script>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }} - eSolia Help</title>

		<meta name="supported-color-schemes" content="light dark" />

		<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
		<link rel="dns-prefetch" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />

		<link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
		<link rel="preload" href="/fonts/epilogue.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
		<link rel="preload" href="/fonts/jetbrains-mono.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

		<link rel="preload" href="/fonts/m-plus-2-v5-latin-ext_latin_japanese-100.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
		<link rel="preload" href="/fonts/m-plus-2-v5-latin-ext_latin_japanese-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
		<link rel="preload" href="/fonts/m-plus-2-v5-latin-ext_latin_japanese-800.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

		<link rel="stylesheet" href="/styles/critical.css" inline />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="canonical" href="{{ url | url(true) }}" />

		{% if page_css %}
		<link rel="stylesheet" href="/styles/pages/{{ page_css }}" />
		{% endif %}

		<script src="/main.js" type="module"></script>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		{% include "templates/navbar.njk" %}
		<div>
			{{ content | safe }}
		</div>
		{% include "templates/footer.njk" %}

		<script type="text/javascript">
			// theme toggle
			   const getColorPreference = () => {
			     if (localStorage.getItem('theme-preference'))
			       return localStorage.getItem('theme-preference')
			     else
			       return window.matchMedia('(prefers-color-scheme: dark)').matches
			         ? 'dark'
			         : 'light'
			   }

			   const setPreference = () => {
			     localStorage.setItem('theme-preference', theme.value)
			     reflectPreference()
			   }

			   const reflectPreference = () => {
			     document.firstElementChild.setAttribute('data-theme', theme.value)
			     document.querySelector('#theme-toggle')?.setAttribute('aria-live', theme.value)
			   }

			   const theme = {
			     value: getColorPreference(),
			   }

			   // set early so no page flashes
			   reflectPreference()

			   window.onload = () => {
			     // set on load so screen readers can see latest value on the button
			     reflectPreference()

			     document.querySelector('#theme-toggle').addEventListener('click', e => {
			       theme.value = theme.value === 'light'
			         ? 'dark'
			         : 'light'

			       setPreference()
			     })
			   }

			   window
			     .matchMedia('(prefers-color-scheme: dark)')
			     .addEventListener('change', ({matches:isDark}) => {
			       theme.value = isDark ? 'dark' : 'light'
			       setPreference()
			     })
		</script>
	</body>
</html>
