.footer-container {
  /* background: var(--color-background-1); */
  /* stack grain with a gradient */
    background-image: var(--gradient-23), var(--noise-5);
    /* force colors and noise to collide */
    filter: var(--noise-filter-3);
    /* fit noise image to element */
    background-size: cover;

}

.footer {
  font: var(--text-caption);
  color: var(--color-foreground-1);
  max-width: var(--max-width);
  margin: auto;
  justify-content: center;
  padding: 0 var(--margin);
}
.footer-copyright {
  margin: 0;
  padding: var(--row-gap-0) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & a {
    color: currentColor;
  }
}
.footer-links {
  margin: 15;
  list-style: none;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  /* border-bottom: solid 1px var(--color-background-2); */

  & svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  & a {
    text-decoration: none;
    font: var(--text-caption);
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: var(--border-radius-small);
    color: currentColor;
    white-space: nowrap;

    &:hover {
      color: var(--color-foreground);
      background: var(--color-background-2);
    }
  }
}
