.toc {
  font: var(--text-leader);
  font-style: italic;
  letter-spacing: var(--text-body-spacing);
  color: var(--color-foreground-1);
  margin: 0;

  & ol,
  & ul {
    padding-left: 1.5em;
  }
  & a {
    color: currentColor;
  }
}
